:root {
  --font: "Roboto", sans-serif;
  --background-color: rgb(9, 124, 53);
  --header-color: #FFFFFF;
  --campaign-title: #FFFFFF;
  --primary-color: rgb(9, 124, 53);
  --primary-color-semi-trans: rgba(9,124,53,0.5);
  --alert-color: rgb(120, 0, 0);
  --secondary-color: #F6F3F6;
  --text-highlight: rgba(255, 255, 149, 0.406);

  --box-outline: 1px solid rgba(0, 0, 0, 0.8);
  --box-outline-focus: 2.3px solid #537A8B;

  --textfield-outline: rgb(9, 124, 53);

  --button-color: rgb(9, 124, 53);
  --button-disabled-background: #4e5248;
    --button-disabled-color: #a7a7a7;
}
