@import './variables';
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue'), url('./fonts/Bebas\ Neue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }


$font: var(--font);
$header-color: var(--header-color);
$background-color: var(--background-color);
$primary-color: var(--primary-color);
$primary-color-semi-trans: var(--primary-color-semi-trans);
$secondary-color: var(--secondary-color);
$text-highlight: var(--text-highlight);

$box-outline: var(--box-outline);
$box-outline-focus: var(--box-outline-focus);



html, body {
    height: 100%;
    margin: 0;
  }

body {
    font-family: $font;
    background-color: $background-color;
    background-image: linear-gradient(rgba(3, 55, 27, 0.7), rgba(3, 55, 27, 0.7)), url('./bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    max-width: 100vw;
    min-height: 100vh;       /* fill the viewport vertically */
}

body::before {
    content: none;
}

.content {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
}

.promptQ {
 color: inherit
}

h1, h2, h3, h4, h5, h6 {
    color: $primary-color;
    font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
}

button {
        font-family: "Bebas Neue", sans-serif !important;

}

.header {
    width: 100%;
    background-color: $header-color;
    border-bottom: 1px solid var(--border-subtle);
    height: 60px;
    display: flex;
    align-items: center;
    color: $primary-color;
    z-index: 5
}

.editableDivBox:hover {
    outline: $box-outline !important;
    outline-offset: -1px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.editableDivBox:focus-within {
    outline: $box-outline-focus !important;
    outline-offset: -2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.featuredCard {
    border: 1px solid var(--primary-color);
}

.fadeHighlight {
    color: inherit;
    animation-name: fadeHighlight;
    animation-duration: 1000s;
}

@keyframes fadeHighlight {
    0% {
        background-color: $text-highlight;
        }

    50% {
        background-color: $text-highlight;
    }

    100% {
        color: inherit;
    }
}
